defaults
  mode http
  timeout connect 100s
  timeout client 300s
  timeout server 300s
  
  
frontend swiftbase.com
  bind :80

  acl isDepl path_beg /api/deploy
  acl isAccount path_beg /api/account
  acl isProject path_beg /api/project
  acl isProjectUi path_beg /project.html
  use_backend account if isAccount
  use_backend project-managment if isProject
  use_backend deployment if isDepl
  use_backend project-ui if isProjectUi

  default_backend splash
  
backend project-ui
  balance roundrobin
  server server1 project-ui
  
backend splash
  balance roundrobin
  server server1 splash
 
 
backend account
  balance roundrobin
  server server1 account
  

backend project-managment
  balance roundrobin
  server server1 project-managment
  

backend deployment
  balance roundrobin
  server server1 deployment
